body {
	font-size: 14px;
	background: #47567a;/*------color-------*//*------color-------*//*------color-------*//*------color-------*//*------color-------*/
	color: #fff;
	letter-spacing: 1px;
	padding: 0px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.8);
	/*filter: brightness(40%);*/
}

.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 60%;
	z-index: 5;
	text-align: center;
	margin-top: -150px;
}

.titleMessage p{
	color: #fff;
	text-shadow: 0px 2px 5px rgba( 0 0 0 0.4);
	font-weight: 100;
	letter-spacing: 7px;
}

.titleMessage .heading .main{
	font-size: 6vw;
	font-family: 'Sarina', cursive;
}

.titleMessage .heading .sub{
	font-size: 2vw;
	letter-spacing: 7px;
	font-family: 'B612 Mono', monospace;
}

.textabout h1{
	font-size: 30px;
	padding-top: 20px; 
	font-family: 'Barriecito', cursive;
}

.textabout p{
	font-family: 'Stylish', sans-serif;
}

@media only screen and (min-width: 720px) {
 	.textabout {
	border-left: 2px solid white;
	padding-left: 30px;
}
}


.section {
	padding: 100px 0 100px 0;

}

.aboutImage {
	max-width: 100%;
	object-fit: fill;
	border-radius: 20px;

}

.skillsSection ,
.contactSection {
	background-color: #ab6c82;/*------color-------*//*------color-------*//*------color-------*//*------color-------*/
	color: #fff;
}

#skills , #frameworks h2 {
	padding-bottom: 50px;
	padding-top: 40px;
}

.skill {
	text-align: center;
	margin-left: 25px;
}

.skill h4{
	padding-top: 10px;
}

.extra2 {
	margin-bottom: 40px;
}

.owl-carousel {
	margin: 0;
}

.owl-carousel .owl-nav [class*=owl-] {
	background: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.9);
	font-size: 11px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 0;
	text-align: center;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
	background: rgba(0, 0, 0, 0.9);
	color: #FFF;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	height: 50%;
	margin: auto !important;
}

.owl-carousel .owl-prev {
	left: 45px;
	font-size: 50px;

}

.owl-carousel .owl-next {
	right: 45px;
	font-size: 50px;

}

.owl-carousel .owl-dots {
	display: none !important;
}

.owl-carousel button{
	border: 1px solid white;
}

#portfolio {
	padding-top: 30px;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	text-align: center;
}

.chart canvas{
	position: absolute;
	top: 0;
	left: 0;
}

.chart .percent {
	color: #fcbb68;/*------color-------*//*------color-------*//*------color-------*//*------color-------*//*------color-------*//*------color-------*/
	line-height: 152px;
	display: inline-block;
	font-size: 35px;
}

.chart .percent:after {
	content: "%";
}

.contactSection {
	background-color: #d8737f;/*------color-------*//*------color-------*//*------color-------*/
}
.contactButton {
	color: #fff;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #fff;
	border-radius: 5px;
}

.contactButton:hover {
	text-decoration: none;
	color: #c72c41;/*------color-------*//*------color-------*//*------color-------*//*------color-------*//*------color-------*/
	background-color: #fff;
}

.squareItem {
	margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #fff;/*------color-------*//*------color-------*//*------color-------*/
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #FFF;/*------color-------*//*------color-------*//*------color-------*/
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}


.squareContent h2 {
	font-size: 56px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #fff;
}

.squareContent a {
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	margin: 0;
}

.squareIcon {
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #fcbb68;
}


.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.items li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}


.items li img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
	color: #fff ;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
	width: 40px;
    height: 40px;
    background-color: #c72c41;/*------color-------*//*------color-------*//*------color-------*/
    position: relative;
    display: inline-block;


    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;

}

.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}

.copyrightSection {
	background-color: #685d79;/*------color-------*//*------color-------*//*------color-------*//*------color-------*/
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p{
	margin: 0;
}

#navigation {
	background-color: #d8737f ;/*------color-------*//*------color-------*//*------color-------*//*------color-------*/
	padding: 20px 10px;
	z-index: 10000;
	width: 100%;
	box-shadow: 0 0 5px black;
	font-family: 'Righteous', cursive;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
	font-weight: bold;
}

.navbar-brand ,
.navbar-brand:hover {
	color: #fff !important;
}

.navbar-toggler-icon {
	background: url(./menu.png);
	background-size: 100%;

}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #ab6c82;/*------color-------*//*------color-------*//*------color-------*//*------color-------*/
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000000;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background-image: url(727.svg);
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-position: center;
}

#frameworks {
	padding: 100px 0px 10px 0px;
}

@media only screen and (min-width: 720px) {
		#about .container{
			padding: 40px;
			border: 3px solid white;
			border-radius: 30px;
}
}

#frameworks .container{
	padding: 20px;

}
#frameworks h1{
	font-size: 15px;
}


.cell {
	margin: 0px;
	padding: 10px 20px 10px 20px;
	text-align: center;
	z-index: 20;
	font-family: 'Viga', sans-serif;
}

/*.cell:hover {
	background-color: darkgrey;
	color: #fff;
	box-shadow: 0px 0px 5px black;
	z-index: 30
}*/

.indexbar {
	border: 1px solid white;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 40px;
	width: 100%;
	height: 50px;
	background-image: linear-gradient(to right, white , #685d79,#685d79);/*------color-------*//*------color-------*//*------color-------*//*------color-------*//*------color-------*/
	display: flex;
	justify-content: space-between;
	font-family: 'Viga', sans-serif;
}

.indexbar .start{
	text-align: left;
	display: inline-block;
	color: #685d79;
	vertical-align: middle;
}

.indexbar .end{
	padding-bottom: 20px;
	text-align: right;
	display: inline-block;
	color: #fff;
	vertical-align: middle;
}

.indexbar h4{
	margin: 0px;

}

.shifting {
	position: relative;
}

.param {
	font-size: 20px;

}

.param a {
	text-decoration: none;
	color: #c72c41;
	background-color: #fff;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;

}

.paramimage {
	padding-top: 40px;

}

#internship .container{
	background-color: #0E354D;/*-----color------*/
	box-shadow:
    /* The top layer shadow */
    0 -1px 3px rgba(0,0,0,0.2),
    /* The second layer */
    0 -15px 0 -5px #0E354D,
    /* The second layer shadow */
    0 -15px 3px -4px rgba(0,0,0,0.2),
     /* The third layer */
    0 -30px 0 -10px #0E354D,
    /* The third layer shadow */
    0 -30px 3px -9px rgba(0,0,0,0.2);
    /* Padding for demo purposes */
    padding: 30px;
	padding-bottom: 50px;
	padding-top: 40px;
}

#internship {
	padding-top: 0;
}

.col-md-12 {
	font-family: 'Knewave', cursive;
}


